body{
  background-color: #1d1d1d;
}

.wrapper{
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  display: inline-block;
  margin: auto;
  width: 300px;
  height: 50px;
}

#start-stop{
  float: left;
}

#reset-lap{
  float: right;
}

.tile{
  border: none;
  display: block;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -webkit-box-shadow: inset 0px 0px 1px #FFFFCC;
  -moz-box-shadow: inset 0px 0px 1px #FFFFCC;
  -o-box-shadow: inset 0px 0px 1px #FFFFCC;
  box-shadow: inset 0px 0px 1px #FFFFCC;
}

.action-button{
  cursor: pointer;
  color: white;
  font-size: 1em;
  padding: 5px;
  margin: 0;
  margin-top: 10px;
  width: 70px;
}

.action-button:hover{
  outline: #999999 solid 1px;
}

.start-button{
  background-color: #60a917;
}

.lap-button{
  background-color: #4390df;
}

.reset-button, .stop-button{
  background-color: #9a1616; 
}

#watch-dial{
  background-color: #333333;
  font-size: 2.5em;
  font-family: monospace;
  text-align: center;
  color: white;
  padding: 15px;
}

#laps{
  margin-top: 70px;
  height: 400px;
  overflow-y: auto;
  color: white;
  list-style: none;
  padding: 0px;
}

#laps > li{
  border-color: white;
  width: 100%;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: monospace;
  font-size: 1.5em;
}